---
layout: post
title: "How To Bypass Selfie Verification 2023"
date: 2023-03-28T03:22:42Z
authors: ["Mike Vance"]
categories: ["Development"]
description: "This should be enough to bypass a lot of kyc providers and will allow you to easily verify your account!"
thumbnail: "/assets/images/blog/Screenshot_2023-02-20-03-28-22-47_40deb401b9ffe8e1df2f1cc5ba480b12.jpg"
image: "/assets/images/blog/Screenshot_2023-02-20-03-28-22-47_40deb401b9ffe8e1df2f1cc5ba480b12.jpg"
comments: false
---

# How To Bypass Selfie Verification

Table of content

- Know KYC Verification mechanism

- How to fake live webcam

- How to fake rotate head verification

- How to make you selfie more alive

- How to fake phone required kyc

- Resource





+

Old Standart : Upload Document and Photo with Signature or Holding Written Name and service  on cardboard (example old binace if i remember correctly service before 2013 ?)

ScanFace: Simple Request to scanning face

Rotated head: Require you rotate you head folowing the circle 

Blink Life Test : Require you to blink follwong countdown order

ID Card+Face Selfie + Mostly Populer among Indonesia Apps like E-wallet and exchanger





Faking the Webcam

Most of website this day enforce verification through selfie-life cam, site will ask you to allow turn on camera and record you face, which can have serios consequence if company you use are not good in keeping their data.

There way to counter this defense

  You need to download:

- OBS (With virtual cam plugin)

- ManyCams -- Not free please go to reddit piracy megathread to find safe and clean pirate version

Some of download links will be available at the last page of this thread.



Install both of them and ready your docs.



Now, open OBS and under “Sources” tab click on “+” and then “Image”

Then, select your image path and press okay. You will see your selected image on OBS.

Now, open ManyCams, go to “Text” tab and uncheck “Show ManyCams logo”

Go back on OBS and click on “Start Virtual camera”

Now, go back to your website that you try to verify and start the webcam verification, allow

access and you should see your selected photo on the webpage.

You can change the photo position (If you doing selfie verification, so the face would go into the

“Head bubble”) on OBS by moving the picture or change the size of it by grabbing the corner of

the photo. (Red line)



"If your KYC puts you to fullscreen as soon as you start the verification and cancels

out if you exit the fullscreen, open OBS, then Start the verification and as soon as

you go to fullscreen, ALT+TAB to OBS window so the verification won't be

cancelled and you will be able to move your picture around.

After that just size your picture to you needs and take the photo."



This one of difficult part



Damn, that was easy. But my verification requires me to

rotate my head.



A lot of KYC requires you to do that. To bypass that, head to:

https://www.smoothie-3d.com/ and create an account there (It requires you to do a

small donation to use their services, i highly advise you to do that as it will help

you in your KYC bypass journey)

After you successfully created your account and made a small donation, start a

new project and then select “Image” and then “Add”.

After that you will see your photo on the website, then you should see a small

menu in the middle up, select “Mode to draw smooth shapes”.



After you selected the correct mode, carefully draw a shape around your selfies head.

After you did it, you should see your selected area lighter than the background.

On the left side you will see a small box, select “Rotation mode” and slightly move your cursor in the box area to rotate the selected area.



After you managed to make your selfie a 3D model, you can record

your screen rotating your head and then in OBS under “Sources”

tab selecting “Media source”

Or, you could select “Window capture” and selecting the

“Smoothie-3d” tab and rotating your head live when you doing your

KYC verification.



Okay, but my selfie looks “Not real”, how do i make it more

alive?



Note: this part of method involving you using phone to create resource for part of method.



Some of the HQ websites (Banks, main crypto exchange sites, etc) could see that

your selfie is a plain photo as it doesn't have any “Liveliness” in it.

To bypass that, you need 2 things.

- TikTok account

- Smartphone with working camera

If you have that, go ahead and download TikTok and create an account.

@hackers_assemble

After you have your TikTok account ready, open your selfie on you PC, make a

new video on TikTok and select “Dynamic Photo” filter.



After you selected your filter, point your camera to the selfie that's on you PC and

you will see that the selfie is moving, smiling, rotating their eyes, etc.

Record a small video and upload it to TikTok (Make sure its public)

After its uploaded, go to: https://ssstik.io/en (ticktock video downloader ) and paste your video link to



Download your video without the TikTok tag.

After that its easy, go to OBS, under “Sources” select “Media” and select your

TikTok video that you just downloaded.





My targeted website requires me to verify thru my phone.



This  part if you service only serve through Apps



For this, you would need a few tools:

- LDplayer (Android Emulator)

- Logitech capture software

After you downloaded those 2 tools, create a new LDplayer android emulator

window and select 640x640 resolution

Then, open Logitech capture software, open you selfie/docs photo, select

resolution to 1080p and then in “Source 1” select your opened photo title. Then

head to ManyCams, select camera source as “Logi Capture”.

Then, head back to your android emulator, go do your kyc and when emulator ask

if you want to use webcam or screen crop, select webcam and you should see

your uploaded photo right there, go on resize or change position of the photo of

your needs and take the picture.



Thats it! This should be enough to bypass a lot of kyc providers and will allow you to easily verify your account!



Download links:

OBS: https://obsproject.com/

LDplayer: https://www.ldplayer.net/

Logitech capture: https://www.logitech.com/en-gb/software/capture.htm


@hackers_assemble